.navbarLinks {
   flex: 1; 
   float: right; /*this puts everything on the same line */
 }

 .navbarLinks a {
    text-decoration: none;
 }

 header {
    font-size: 2rem;
    padding: 0.5em 1em;
    
 }

 .navbarLinks:hover a {
    background-color: greenyellow;
 }

 .testimonials {
   width: 80%;
   margin: auto;  /* this aligns the title and p tag in alignment with the pictures */
   padding-top: 100px;
   text-align: center; /* this aligns title and p tag in the center  */
}

.testimonial-column { /* this places settings of the background and pictures  */
   flex-basis: 94%;
   border-radius: 10px; 
   margin-bottom: 5%;
   text-align: left;
   background: #d63434;
   padding: 25px;
   cursor: pointer;
   display: flex; /* this places both pictures to match the same size and text is on the right side of both of the pictures */
}

.testimonial-column img {
   height: 50px;
   margin-left: 5px;
   margin-right: 30px;
   border-radius: 50%;
}

.testimonial-column p {
   padding: 0;
}

.testimonial-column h3 {
   margin-top: 15px;
   text-align: left;
}



 
